@import "tailwindcss";
@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@theme{
	/*colors*/
	--primary-purple: hsl(259, 100%, 65%);
	--primary-red: hsl(0, 100%, 67%);
	--neutral-white: hsl(0, 0%, 100%);
	--neutral-off-white: hsl(0, 0%, 94%);
	--neutral-light-gray: hsl(0, 0%, 86%);
	--neutral-smokey-gray: hsl(0, 0%, 40%);
	--neutral-off-black: hsl(0, 0%, 10%);

	/*font-family*/
	--font-poppins: "Poppins", system-ui,sans-serif;
	--text-sm: 2rem;
}
.container{
	@apply bg-gray-100 h-dvh flex flex-col justify-center items-center font-sans text-sm mx-auto
}
.container__ageCalculator{
	@apply bg-white rounded-3xl rounded-br-[8.5rem] py-10 px-7 w-96 md:w-xl h-[35.5rem] md:h-[34.5rem]
}
.container__form{
	@apply flex flex-col
}
.container__inputGroup{
	@apply flex gap-x-4 justify-center mb-8 md:mb-0 md:justify-start
}
.container__input{
	@apply flex flex-col gap-3 md:gap-2
}
.container__input--label{
	@apply uppercase text-xs font-bold text-gray-500
}
.container__input--inputNumber{
	@apply py-3 px-4 font-bold border border-gray-300 rounded-lg outline-none focus:border-purple-500 placeholder:text-gray-500   text-xl w-24 md:w-32
}
.container__input--span{
	@apply text-xs text-red-500 italic
}
.container__button{
	@apply relative mt-2.5 md:mt-0 flex items-center before:content-[''] before:flex-1 before:h-px before:bg-gray-300
}
.buttonArrow{
	@apply bg-purple-500 border-0 rounded-full w-16 h-16 md:h-14 md:w-14 flex items-center justify-center cursor-pointer transition-colors duration-300 hover:bg-black relative max-[47.9375rem]:absolute max-[47.9375rem]:left-1/2 max-[47.9375rem]:-translate-x-1/2
}
.container__button--img{
	@apply w-7 h-7 max-[47.9375rem]:w-8 max-[47.9375rem]:h-8
}
.container__resultsGroup{
	@apply flex flex-col gap-2 pt-10 md:pt-0
}