---
import InputGroup from "./InputGroup.astro";
import ResultsGroup from "./ResultsGroup.astro";
import { format } from "@formkit/tempo";
const currentYear = format(new Date(), "YYYY");
---

<main class="container__ageCalculator">
	<form id="age_form" class="container__form" novalidate>
		<div class="container__inputGroup">
			<InputGroup
				label="Day"
				inputId="day"
				placeholder="DD"
				maxlength="2"
				errorId="dayError"
				Input={{
					min: "1",
					max: "31",
					required: true,
				}}
			/>
			<InputGroup
				label="Month"
				inputId="month"
				placeholder="MM"
				maxlength="2"
				errorId="monthError"
				Input={{
					min: "1",
					max: "12",
					required: true,
				}}
			/>
			<InputGroup
				label="Year"
				inputId="year"
				placeholder="YYYY"
				maxlength="4"
				errorId="yearError"
				Input={{
					min: "1900",
					max: currentYear,
					required: true,
				}}
			/>
		</div>

		<div class="container__button">
			<button type="submit" class="buttonArrow" aria-label="Calculate age">
				<img src="/images/icon-arrow.svg" class="container__button--img" alt="arrow down" />
			</button>
		</div>

		<section class="container__resultsGroup" aria-live="polite">
			<ResultsGroup id="years" text="years" />
			<ResultsGroup id="months" text="months" />
			<ResultsGroup id="days" text="days" />
		</section>
	</form>
</main>

<div class="pt-4 text-center text-xs italic font-mono text-balance">
	Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" rel="noopener noreferrer">Frontend Mentor</a>. Coded by <a href="#">Duquerson</a>.
</div>

<script>
	import "../scripts/ageCalculator.ts";
</script>
