---
interface Props {
	id: string;
	text: string;
}

const { id, text } = Astro.props;
---

<div class="flex items-baseline gap-2">
	<span class="font-extrabold italic text-purple-500 leading-none md:text-[6.5rem] text-[3.5rem]" id={id}>--</span>
	<span class="text-[3.5rem] font-extrabold italic text-black md:text-[6.5rem]">{text}</span>
</div>
